node_modules/
dist/
.env
.env.local
_local_secrets/
_local_secrets/*
credentials.txt
credentials*.txt
*.key

public/config/ai_credentials.json
public/config/fred_api_key.txt
public/config/trading_economics_credentials.json